* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* Centering */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.login-card {
  background: #ffffff;
  width: 420px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

/* Icon */
.icon {
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
  color: #2c5364;
}

/* Heading */
.login-card h2 {
  text-align: center;
  color: #203a43;
}

/* Subtitle */
.subtitle {
  text-align: center;
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

/* Form */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 11px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #e2c536;
  box-shadow:  0 5px rgba(44, 83, 100, 0.5);
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #203a43, #2c5364);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer-text {
  text-align: center;
  margin-top: 18px;
  font-size: 13px;
  color: #666;
}

.footer-text a {
  color: #203a43;
  text-decoration: none;
  font-weight: 600;
}
